NODE_ENV='development'

APP_URL='http://localhost:3000'

ALLOWED_ORIGINS='http://localhost:3000,http://localhost:3001'

COOKIE_DOMAIN='localhost'

JWT_SECRET='12345'
JWT_ACCESS_TOKEN_TTL=2h
JWT_REFRESH_TOKEN_TTL=7d

POSTGRES_USER='user_name'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='host'
POSTGRES_PORT=5433
POSTGRES_DB='database_name'

POSTGRES_URI="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"